In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv("player_mvp_stats.csv")

In [3]:
stats # this is the stats dataframe

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15231,15231,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15232,15232,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15233,15233,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15234,15234,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15235,15235,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [4]:
# do data cleaning (if neccessary)
del stats["Unnamed: 0"]

In [6]:
#figure out missing data
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          61
3P            0
3PA           0
3P%        2102
2P            0
2PA           0
2P%         105
eFG%         61
FT            0
FTA           0
FT%         545
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [7]:
# here's its show the missing value in each column
stats = stats.fillna(0) # find the missing values/no values and change it to 0

In [8]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [9]:
predictors = ['Age','G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'W', 'L', 'W/L%', 'GB', 'PS/G','PA/G', 'SRS']

In [10]:
train = stats[stats["Year"] < 2021]

In [11]:
test = stats[stats["Year"] == 2021]

In [15]:
from sklearn.linear_model import Ridge # design to prevent overfeeding

reg = Ridge(alpha=.1)

In [16]:
reg.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [17]:
predictions = reg.predict (test[predictors])

In [21]:
predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)

In [22]:
predictions

       predictions
687       0.013567
688      -0.013756
689       0.002414
690      -0.004421
691       0.010734
...            ...
15027    -0.012571
15028    -0.011575
15029     0.016424
15030    -0.020434
15031    -0.005421

[540 rows x 1 columns]

In [24]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [25]:
combination

                       Player  Share  predictions
687              Aaron Gordon    0.0     0.013567
688             Austin Rivers    0.0    -0.013756
689                   Bol Bol    0.0     0.002414
690          Facundo Campazzo    0.0    -0.004421
691          Greg Whittington    0.0     0.010734
...                       ...    ...          ...
15027             Patty Mills    0.0    -0.012571
15028  Quinndary Weatherspoon    0.0    -0.011575
15029                Rudy Gay    0.0     0.016424
15030               Tre Jones    0.0    -0.020434
15031              Trey Lyles    0.0    -0.005421

[540 rows x 3 columns]

In [27]:
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions
698             Nikola Jokić  0.961     0.154306
9385             Joel Embiid  0.580     0.162713
4004           Stephen Curry  0.449     0.142385
10705  Giannis Antetokounmpo  0.345     0.207436
1606              Chris Paul  0.138     0.072293
11850            Luka Dončić  0.042     0.151430
8048          Damian Lillard  0.038     0.116302
3849           Julius Randle  0.020     0.088877
3844            Derrick Rose  0.010     0.033000
12272            Rudy Gobert  0.008     0.095350

In [29]:
# the error metric let you know if the algorithm did well or not
# this is default error matric
from sklearn.metrics import mean_squared_error
mean_squared_error(combination["Share"], combination["predictions"])

0.002666895587320778

In [37]:
# Above is the mean diff between the prediciton and the actual value

combination = combination.sort_values("Share", ascending=False) #sort using "Share" 
combination["Rk"] = list(range(1,combination.shape[0]+1)) # make the rank (rk) column

In [38]:
combination.head(10)

                      Player  Share  predictions  Rk
698             Nikola Jokić  0.961     0.154306   1
9385             Joel Embiid  0.580     0.162713   2
4004           Stephen Curry  0.449     0.142385   3
10705  Giannis Antetokounmpo  0.345     0.207436   4
1606              Chris Paul  0.138     0.072293   5
11850            Luka Dončić  0.042     0.151430   6
8048          Damian Lillard  0.038     0.116302   7
3849           Julius Randle  0.020     0.088877   8
3844            Derrick Rose  0.010     0.033000   9
12272            Rudy Gobert  0.008     0.095350  10

In [41]:
# Above is the actual rank
# Below is the predicted rank (actual rank included)

combination = combination.sort_values("predictions", ascending=False)
combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))

In [43]:
combination.head(10)

                      Player  Share  predictions   Rk  Predicted_Rk
10705  Giannis Antetokounmpo  0.345     0.207436    4             1
9385             Joel Embiid  0.580     0.162713    2             2
698             Nikola Jokić  0.961     0.154306    1             3
11850            Luka Dončić  0.042     0.151430    6             4
4089            LeBron James  0.001     0.147511   15             5
4004           Stephen Curry  0.449     0.142385    3             6
4587            Kevin Durant  0.000     0.141350  190             7
4584            James Harden  0.001     0.140598   13             8
12783        Zion Williamson  0.000     0.127926  469             9
4266       Russell Westbrook  0.005     0.120227   11            10

In [44]:
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions  Rk  Predicted_Rk
698             Nikola Jokić  0.961     0.154306   1             3
9385             Joel Embiid  0.580     0.162713   2             2
4004           Stephen Curry  0.449     0.142385   3             6
10705  Giannis Antetokounmpo  0.345     0.207436   4             1
1606              Chris Paul  0.138     0.072293   5            33
11850            Luka Dončić  0.042     0.151430   6             4
8048          Damian Lillard  0.038     0.116302   7            12
3849           Julius Randle  0.020     0.088877   8            24
3844            Derrick Rose  0.010     0.033000   9            76
12272            Rudy Gobert  0.008     0.095350  10            19

In [68]:
#identifying error metric (where 1.0 is perfect)
error_metric=0
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending=False)
    ps = []
    found = 0
    seen = 1
    for index, row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found +=1 
            ps.append(found/seen)
        seen += 1
    return sum(ps) / len(ps)

In [69]:
find_ap(combination)

0.7636363636363636

In [70]:
# implementing backtesting to predict each year
years = list(range(1991,2022))

In [77]:
aps = []
all_predictions = []
for year in years[5:]: #starts with the fifth year(1996) of our data
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    # Above shows that we train data from year (1991 - 1995) then we test data from year 1996
    # Train the model
    reg.fit(train[predictors], train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [78]:
sum(aps) / len(aps)
# below is the mean average precision

0.7112884360789578

In [81]:
#diagnose the algo performance more
def add_ranks(combination):
    combination = combination.sort_values("Share", ascending=False) #sort using "Share" 
    combination["Rk"] = list(range(1,combination.shape[0]+1)) # make the rank (rk) column
    combination = combination.sort_values("predictions", ascending=False)
    combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))
    combination["Diff"] = combination["Rk"] - combination["Predicted_Rk"] # make a new column ["Diff"]
    return combination

In [86]:
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"] < 6].sort_values("Diff", ascending=False) # only take the top 5

               Player  Share  predictions  Rk  Predicted_Rk  Diff
1817      Karl Malone  0.857     0.192318   1             2    -1
11360  Michael Jordan  0.832     0.167629   2             3    -1
1043       Grant Hill  0.327     0.128646   3             6    -3
5151     Tim Hardaway  0.207     0.059984   4            20   -16
9009        Glen Rice  0.117     0.033110   5            53   -48

In [87]:
# build a backtesting function

def backtest(stats, model, year, predictors):
    aps = []
    all_predictions = []
    for year in years[5:]: #starts with the fifth year(1996) of our data
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        # Above shows that we train data from year (1991 - 1995) then we test data from year 1996
        # Train the model
        model.fit(train[predictors], train["Share"])
        predictions = reg.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [88]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [89]:
mean_ap

0.7112884360789578

In [90]:
# This is looking at all_predicitons and is looking at top 5, and looking at the 10 biggest differences
all_predictions[all_predictions["Rk"] <= 5].sort_values("Diff").head(10)

                 Player  Share  predictions  Rk  Predicted_Rk  Diff
1441         Jason Kidd  0.712     0.028210   2            52   -50
9009          Glen Rice  0.117     0.033110   5            53   -48
5674         Steve Nash  0.839     0.034100   1            45   -44
9277    Peja Stojaković  0.228     0.036270   4            38   -34
5692         Steve Nash  0.739     0.054129   1            34   -33
13800       Joakim Noah  0.258     0.046968   4            37   -33
4010   Chauncey Billups  0.344     0.052696   5            35   -30
1606         Chris Paul  0.138     0.072293   5            33   -28
5707         Steve Nash  0.785     0.074421   2            21   -19
5151       Tim Hardaway  0.207     0.059984   4            20   -16

In [92]:
# here's is an example where we dig a little deeper, look at Jason Kidd stats 
# and look at where is he differ from other mvp candidate and why is he being misrank by the algorithm

pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis = 1).sort_values(0, ascending=False)
# we can use coefficient like above code, the highest coef indicates the most important variable

           0     1
13  0.070001  eFG%
18  0.035041   DRB
29  0.027129  W/L%
17  0.021610   ORB
10  0.016945    2P
21  0.011635   STL
15  0.011351   FTA
22  0.011234   BLK
20  0.007455   AST
25  0.005894   PTS
4   0.005693    FG
5   0.005517   FGA
7   0.004568    3P
12  0.004080   2P%
0   0.000321   Age
30  0.000270    GB
27  0.000098     W
1   0.000092     G
2  -0.000006    GS
26 -0.000184  Year
32 -0.000219  PA/G
28 -0.000295     L
33 -0.000521   SRS
31 -0.000556  PS/G
24 -0.002634    PF
3  -0.004150    MP
16 -0.004574   FT%
14 -0.006586    FT
23 -0.009696   TOV
9  -0.009822   3P%
8  -0.010395   3PA
11 -0.017319   2PA
19 -0.027506   TRB
6  -0.135021   FG%

In [93]:
# adding more predictors (to give the model more information)

stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x:x/x.mean()) 
# aboce code calculate for example(Points/PTS), Pts of that player divide by the mean of Pts of that given year

In [95]:
stat_ratios

            PTS       AST       STL       BLK        3P  Year
0      1.013334  0.420714  0.961127  0.673469  0.508587   1.0
1      1.614653  1.028412  1.647646  0.673469  4.577279   1.0
2      0.311795  0.093492  0.274608  1.571429  0.000000   1.0
3      0.200440  0.186984  0.274608  0.000000  0.000000   1.0
4      2.383005  1.636110  1.784950  0.897959  1.525760   1.0
...         ...       ...       ...       ...       ...   ...
15231  0.735752  0.819562  0.479763  1.528302  0.650951   1.0
15232  0.071202  0.000000  0.000000  0.000000  0.130190   1.0
15233  1.281633  0.601012  1.119447  2.547170  0.520761   1.0
15234  0.474679  0.218550  0.319842  1.273585  0.650951   1.0
15235  1.008693  0.655649  1.119447  0.509434  2.343424   1.0

[15236 rows x 6 columns]

In [102]:
# add to the stats dataframe

stats[["PTS_R", "ASR_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [103]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,PS/G,PA/G,SRS,PTS_T,ASR_R,STL_R,BLK_R,3p_R,PTS_R,3P_R
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587,1.013334,0.508587
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,106.3,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279,1.614653,4.577279
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,106.3,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000,0.311795,0.000000
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000,0.200440,0.000000
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,106.3,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760,2.383005,1.525760

In [105]:
del stats["PTS_T"]

In [106]:
del stats["3p_R"]

In [107]:
stats
# belows shows that A.C. Green has scored 1.013 points than the average

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,W/L%,GB,PS/G,PA/G,SRS,ASR_R,STL_R,BLK_R,PTS_R,3P_R
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.707,5.0,106.3,99.6,6.73,0.420714,0.961127,0.673469,1.013334,0.508587
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.707,5.0,106.3,99.6,6.73,1.028412,1.647646,0.673469,1.614653,4.577279
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.707,5.0,106.3,99.6,6.73,0.093492,0.274608,1.571429,0.311795,0.000000
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.707,5.0,106.3,99.6,6.73,0.186984,0.274608,0.000000,0.200440,0.000000
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.707,5.0,106.3,99.6,6.73,1.636110,1.784950,0.897959,2.383005,1.525760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15231,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,0.484,...,0.512,9.0,103.6,103.8,-0.45,0.819562,0.479763,1.528302,0.735752,0.650951
15232,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,0.286,...,0.512,9.0,103.6,103.8,-0.45,0.000000,0.000000,0.000000,0.071202,0.130190
15233,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,0.470,...,0.512,9.0,103.6,103.8,-0.45,0.601012,1.119447,2.547170,1.281633,0.520761
15234,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,0.459,...,0.512,9.0,103.6,103.8,-0.45,0.218550,0.319842,1.273585,0.474679,0.650951
15235,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,0.455,...,0.512,9.0,103.6,103.8,-0.45,0.655649,1.119447,0.509434,1.008693,2.343424

In [108]:
# add the values to the predictors

predictors += ["PTS_R", "ASR_R", "STL_R", "BLK_R", "3P_R"]

In [109]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [110]:
mean_ap
# Below shows that it is improved from .711 to .721

0.7208380973034985

In [114]:
stats["Pos"].unique()

array(['PF', 'SG', 'SF', 'PG', 'C', 'PG-SG', 'PF-SF', 'SG-PG', 'PF-C',
       'SG-SF', 'SF-PF', 'SF-SG', 'C-PF', 'SG-PF', 'PG-SF', 'SG-PG-SF',
       'SF-C'], dtype=object)

In [111]:
stats["NPos"]= stats["Pos"].astype("category").cat.codes

In [112]:
stats.head()
# As you can see we have change the position/pos(String) which is a category to NPos (which is in numerical)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,GB,PS/G,PA/G,SRS,ASR_R,STL_R,BLK_R,PTS_R,3P_R,NPos
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,5.0,106.3,99.6,6.73,0.420714,0.961127,0.673469,1.013334,0.508587,2
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,5.0,106.3,99.6,6.73,1.028412,1.647646,0.673469,1.614653,4.577279,12
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,5.0,106.3,99.6,6.73,0.093492,0.274608,1.571429,0.311795,0.000000,2
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,5.0,106.3,99.6,6.73,0.186984,0.274608,0.000000,0.200440,0.000000,2
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,5.0,106.3,99.6,6.73,1.636110,1.784950,0.897959,2.383005,1.525760,8

In [117]:
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [118]:
stats["NTm"].value_counts()
# Below shows number for each team so maybe 7 = lakers, 8 = Golden State Warriors........

7     539
8     535
27    532
17    529
14    528
11    525
0     524
12    520
1     519
31    518
9     517
15    513
26    513
13    512
18    512
5     510
29    506
30    506
10    505
34    505
24    503
28    502
19    500
33    460
36    431
16    371
20    343
32    263
25    256
2     202
23    179
4     177
3     157
6     147
21    143
37    114
35     88
22     32
Name: NTm, dtype: int64

In [119]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[28:], predictors)

In [120]:
mean_ap

0.7208380973034985

In [122]:
# Using a Random Forest Model
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=50, random_state=1, min_samples_split=5)

mean_ap, aps, all_predictions = backtest(stats, rf, years[28:], predictors)

In [123]:
mean_ap
# Based on the mean_ap on linear model and random forest, random forest is more accurate than the linear model

0.7456311092998757